# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, but usually can be deleted manually
*.test

# Output of the go coverage tool
*.out

# Dependency directories (vendor/)
vendor/

# Editor-specific files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables file
.env

# GoLand IDE specific files
*.iml

# Git Hooks
.hooks/
